.table {
    border-radius: 15px;
    background-color: rgb(39, 62, 71, .6);
}
td {
    vertical-Align: middle;
    padding: 0px 20px;
}

td p {
    font-size: 1.5em;
    color: #ffffff;
    z-index: 1;
}

td h1 {
    font-size: 3em;
    text-align: center;
    font-family: "Roboto Slab", serif;
    color: #ffffff;
    z-index: 1;
}

#linkedin {
    text-align: center;
}