@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #2E4951;
  color: #ffffff;
}

.App {
  text-align: center;
  background-attachment: fixed;
  background-color: #2E4951;
}

h1 {
  font-size: 3em;
  text-align: center;
  font-family: "Roboto Slab", serif;
  color: #ffffff;
  z-index: 1;
}
p {
  font-size: 1.5em;
  font-family: "Roboto Slab", serif;
  color: #ffffff;
  z-index: 1;
}

label {
  font-size: 1.5em;
  font-family: "Roboto Slab", serif;
  color: #ffffff;
  z-index: 1;
}

ul li {
  font-size: 1.5em;
  color: #ffffff;
}

.resume-download-container {
  text-align: center;
  padding: 20px;
  color: #333;
  /* max-Width: 800px; */
  margin: 'auto'
}

.download-button {
  background-color: #0056b3;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.download-button:hover {
  background-color: #004494;
}

img {
  transition: transform .5s;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  /* border-radius: 10px;
  border: 1px solid black; */
}

#particles-js {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-color: #2E4951;
}


@keyframes blink {
  to {
    visibility: hidden;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.cdnfonts.com/css/modern-typewriter');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
.typewriter-text {
  /* font-family: "Courier New", system-ui; */
  /* font-family: "MODERN TYPEWRITER", sans-serif; */
  font-family: "Gloria Hallelujah", cursive;
  text-align: center;
  font-size: 30px; /* Adjust size to fit your design */
  color: #ffffff;
}

.cursor {
  font-family: "Gloria Hallelujah", cursive;
  animation: blink 0.7s steps(2, start) infinite;
  border-right: 1px solid;
  margin-left: 2px;
}